## Population 2016 (IRIS -> REGION) - France
infra-communales

In [1]:
import pandas as pd
import numpy as np

### Si besoin de comprendre les variables (nom des colonnes).

In [2]:
# ici sont les variables et leurs explications.
# varpopIR = pd.read_excel('IRIS_population/variable_struct-pop-2016-cIA.xlsx')
# varpopIR

### Récupération des données France (hs Mayotte) et Collect. Outre-Mer

In [3]:
# population France hors Mayotte
france= pd.read_excel('IRIS_population/base-ic-evol-struct-pop-2016-cIA.xls')

# population collectivité d'outre-mer (St-Pierre-Miquelon, St-Martin, St-Barthélemy)
#com = pd.read_excel('IRIS_population/base-ic-evol-struct-pop-2016-com-cIA.xls')

In [4]:
france.head()

,IRIS,REG,DEP,UU2010,COM,LIBCOM,TRIRIS,GRD_QUART,LIBIRIS,TYP_IRIS,...,C16_F15P_CS4,C16_F15P_CS5,C16_F15P_CS6,C16_F15P_CS7,C16_F15P_CS8,P16_POP_FR,P16_POP_ETR,P16_POP_IMM,P16_PMEN,P16_PHORMEN
0,010010000,84,01,01000,01001,L'Abergement-Clémenciat,ZZZZZZ,0100100,L'Abergement-Clémenciat (commune non irisée),Z,...,50.000000,85.000000,30.000000,70.000000,15.000000,759.000000,8.000000,20.000000,767.000000,0.000000
1,010020000,84,01,01000,01002,L'Abergement-de-Varey,ZZZZZZ,0100200,L'Abergement-de-Varey (commune non irisée),Z,...,20.000000,25.000000,0.000000,20.000000,0.000000,241.000000,2.000000,3.000000,243.000000,0.000000
2,010040101,84,01,01302,01004,Ambérieu-en-Bugey,ZZZZZZ,0100401,Les Perouses-Triangle d'Activité,H,...,99.457191,158.028018,59.452099,216.381754,195.032628,1614.595359,278.516847,308.098676,1557.106066,336.006141
3,010040102,84,01,01302,01004,Ambérieu-en-Bugey,ZZZZZZ,0100401,Longeray-Gare,H,...,220.097097,354.962018,158.716105,351.399678,346.514489,3115.756603,430.453561,515.488156,3546.210164,0.000000
4,010040201,84,01,01302,01004,Ambérieu-en-Bugey,ZZZZZZ,0100402,Centre-St Germain-Vareilles,H,...,236.966388,407.311067,147.066671,529.371210,334.262710,3831.463866,268.539722,341.362897,4012.001980,88.001608

In [5]:
print(france.shape)

(49637, 84)

### Volume de la population

In [6]:
print("\nTotal Population FR Metropole hors Mayotte :", "{:,.2f}".format(france['P16_POP'].sum()),
      "\nTotal Hommes FR Metropole hors Mayotte :", "{:,.2f}".format(france['P16_POPH'].sum()),
      "\nTotal Femmes FR Metropole hors Mayotte :", "{:,.2f}".format(france['P16_POPF'].sum()),
      "\n\nPopulation par IRIS")

for i in france['TYP_IRIS'].unique():
    print("IRIS Type",i, "{:,.2f}".format(france.loc[france['TYP_IRIS'] == i]['P16_POP'].sum()))

Total Population FR Metropole hors Mayotte : 66,361,587.27
Total Hommes FR Metropole hors Mayotte : 32,112,732.25
Total Femmes FR Metropole hors Mayotte : 34,248,855.02

Population par IRIS
IRIS Type Z 26,955,406.00
IRIS Type H 38,719,713.24
IRIS Type A 443,482.46
IRIS Type D 242,985.57

# Objectif Population >> REG POP ÂGE SEXE
**GEO** : REG<br>
**Pop âge**: 0-14 / 15-29 / 30-44 / 45-59 / 60-74 / 75 +<br>
**Pop homme âge**: 0-14 / 15-29 / 30-44 / 45-59 / 60-74 / 75 +<br>
**Pop femme âge**: 0-14 / 15-29 / 30-44 / 45-59 / 60-74 / 75 +<br>

In [7]:
# dataIR.isnull().sum()/len(dataIR)*100

In [8]:
data_base = france[['IRIS', 'DEP', 'COM','LIBCOM', 'REG', 'UU2010', 'TYP_IRIS', 'MODIF_IRIS', 'GRD_QUART', 'LIBIRIS', 'TRIRIS', 'LAB_IRIS', 'P16_POP', 'P16_POP0002', 'P16_POP0305',
                 'P16_POP0610', 'P16_POP1117', 'P16_POP1824', 'P16_POP2539', 'P16_POP4054', 'P16_POP5564',
                 'P16_POP6579', 'P16_POP80P', 'P16_POP0019', 'P16_POP2064', 'P16_POP65P', 'P16_POPH', 'P16_H0019',
                 'P16_H2064', 'P16_H65P','P16_POPF', 'P16_F0019', 'P16_F2064', 'P16_F65P', 'C16_POP15P', 'C16_H15P', 'C16_H15P_CS1',
                 'C16_H15P_CS2', 'C16_H15P_CS3', 'C16_H15P_CS4', 'C16_H15P_CS5', 'C16_H15P_CS6', 'C16_H15P_CS7',
                 'C16_H15P_CS8', 'C16_F15P', 'C16_F15P_CS1', 'C16_F15P_CS2', 'C16_F15P_CS3', 'C16_F15P_CS4',
                 'C16_F15P_CS5', 'C16_F15P_CS6', 'C16_F15P_CS7', 'C16_F15P_CS8', 'P16_POP_FR', 'P16_POP_ETR', 'P16_POP_IMM',
                 'P16_PMEN', 'P16_PHORMEN']]

### Drop des colonnes dont on n'a pas besoin.

In [9]:
dataREG = france.drop(columns=['IRIS', 'DEP', 'COM', 'LIBCOM', 'UU2010', 'TYP_IRIS', 'MODIF_IRIS','GRD_QUART', 'LIBIRIS','TRIRIS', 'LAB_IRIS', 'P16_POP0002', 'P16_POP0305',
                                  'P16_POP0610', 'P16_POP1117', 'P16_POP1824', 'P16_POP2539', 'P16_POP4054', 'P16_POP5564',
                                  'P16_POP6579', 'P16_POP80P', 'P16_POP0019',
                                  'P16_POP2064', 'P16_POP65P', 'P16_H0019', 'C16_H15P_CS1', 'C16_H15P_CS2', 'C16_H15P_CS3', 'C16_H15P_CS4', 'C16_H15P_CS5', 'C16_H15P_CS6',
                                  'C16_H15P_CS7', 'C16_H15P_CS8', 'C16_F15P_CS1', 'C16_F15P_CS2', 'C16_F15P_CS3', 'C16_F15P_CS4',
                                  'C16_F15P_CS5', 'C16_F15P_CS6', 'C16_F15P_CS7', 'C16_F15P_CS8', 
                                  'P16_H2064', 'P16_H65P', 'P16_F0019', 'P16_F2064', 'P16_F65P', 'C16_POP15P', 'C16_H15P', 'C16_F15P', 'C16_POP15P_CS1',
                                  'C16_POP15P_CS2', 'C16_POP15P_CS3', 'C16_POP15P_CS4', 'C16_POP15P_CS5', 'C16_POP15P_CS6', 'C16_POP15P_CS7',
                                  'C16_POP15P_CS8', 'P16_POP_FR', 'P16_POP_ETR', 'P16_POP_IMM',
                                  'P16_PMEN', 'P16_PHORMEN'], axis=1)

In [10]:
dataREG.head()

,REG,P16_POP,P16_POP0014,P16_POP1529,P16_POP3044,P16_POP4559,P16_POP6074,P16_POP75P,P16_POPH,P16_H0014,...,P16_H4559,P16_H6074,P16_H75P,P16_POPF,P16_F0014,P16_F1529,P16_F3044,P16_F4559,P16_F6074,P16_F75P
0,84,767.000000,161.000000,102.000000,132.000000,189.000000,125.000000,58.000000,392.000000,84.000000,...,99.000000,61.000000,28.000000,375.000000,77.000000,47.000000,67.000000,90.000000,64.000000,30.000000
1,84,243.000000,55.000000,28.000000,70.000000,37.000000,34.000000,19.000000,123.000000,26.000000,...,17.000000,22.000000,10.000000,120.000000,29.000000,18.000000,32.000000,20.000000,12.000000,9.000000
2,84,1893.112206,319.155575,519.011004,346.937127,259.198657,295.470786,153.339057,995.484433,172.326260,...,127.402197,140.946341,67.457789,897.627773,146.829316,228.196459,150.399826,131.796460,154.524445,85.881268
3,84,3546.210164,706.686436,795.052938,737.794854,607.335319,425.641161,273.699455,1742.315872,382.606677,...,322.681441,168.173042,82.269306,1803.894292,324.079759,395.998460,350.263925,284.653879,257.468120,191.430150
4,84,4100.003588,801.240994,848.693971,732.298592,717.244067,591.336732,409.189232,1911.360437,401.716974,...,347.701426,235.452797,143.979846,2188.643152,399.524021,419.634896,378.848273,369.542642,355.883935,265.209386

In [11]:
dataREG.apply(lambda x: len(x.unique()))

REG               17
P16_POP        25632
P16_POP0014    41144
P16_POP1529    40882
P16_POP3044    41159
P16_POP4559    41342
P16_POP6074    41168
P16_POP75P     40649
P16_POPH       41807
P16_H0014      40332
P16_H1529      40006
P16_H3044      40355
P16_H4559      40532
P16_H6074      40379
P16_H75P       39362
P16_POPF       41846
P16_F0014      40239
P16_F1529      39903
P16_F3044      40307
P16_F4559      40560
P16_F6074      40408
P16_F75P       39807
dtype: int64

In [12]:
# les régions
dataREG['REG'].unique()

array([84, 32, 93, 44, 76, 28, 75, 24, 27, 53, 94, 52, 11,  1,  2,  3,  4])

In [13]:
np.count_nonzero(dataREG['REG'].unique(), axis=0)

17

### Checking missing values
No data are missing!

In [14]:
dataREG.isnull().sum()/len(dataREG)*100

REG            0.0
P16_POP        0.0
P16_POP0014    0.0
P16_POP1529    0.0
P16_POP3044    0.0
P16_POP4559    0.0
P16_POP6074    0.0
P16_POP75P     0.0
P16_POPH       0.0
P16_H0014      0.0
P16_H1529      0.0
P16_H3044      0.0
P16_H4559      0.0
P16_H6074      0.0
P16_H75P       0.0
P16_POPF       0.0
P16_F0014      0.0
P16_F1529      0.0
P16_F3044      0.0
P16_F4559      0.0
P16_F6074      0.0
P16_F75P       0.0
dtype: float64

### Agrégation des chiffres par région

In [15]:
datareg = dataREG.groupby(['REG']).sum().reset_index()

In [16]:
datareg.shape

(17, 22)

### Récupération du nom des régions

In [17]:
data = pd.read_json('IRIS_population/areas_REGfr.json', typ='series')

name = []
for i in datareg['REG']:
    name.append(data[i])
# print(name)
# inclusion des noms dans une nouvelle colonne
datareg['LIBREG'] = name

In [18]:
datareg[['REG','LIBREG']]

    REG                      LIBREG
0     1                  Guadeloupe
1     2                  Martinique
2     3                      Guyane
3     4                  La Reunion
4    11               Île-de-France
5    24         Centre-Val de Loire
6    27     Bourgogne-Franche-Comté
7    28                   Normandie
8    32             Hauts-de-France
9    44                   Grand Est
10   52            Pays de la Loire
11   53                    Bretagne
12   75          Nouvelle-Aquitaine
13   76                   Occitanie
14   84        Auvergne-Rhône-Alpes
15   93  Provence-Alpes-Côte d'Azur
16   94                       Corse

In [19]:
# verification de types de données 'REG'
datareg['REG'].apply(type).unique()

array([<class 'int'>], dtype=object)

In [20]:
# conversion des REG 'int' en 'str'
datareg['REG'] = datareg['REG'].astype(str)

In [21]:
datareg.to_csv('IRIS_population/REG_population_France.csv', index=False)

In [22]:
print("\nTotal Population hors Mayotte :", "{:,.2f}".format(datareg['P16_POP'].sum()),
      "\nTotal Hommes hors Mayotte :", "{:,.2f}".format(datareg['P16_POPH'].sum()),
      "\nTotal Femmes hors Mayotte :", "{:,.2f}".format(datareg['P16_POPF'].sum()),
      "\n\nPopulation par REG")

Total Population hors Mayotte : 66,361,587.27
Total Hommes hors Mayotte : 32,112,732.25
Total Femmes hors Mayotte : 34,248,855.02

Population par REG