In [1]:
import pandas as pd
import numpy as np

## Logement 2016 (IRIS) - France hors Mayotte
infra-communales

In [2]:
# Variable
varlogIR = pd.read_excel('IRIS_housing/variable_logement-2016-cIA.xlsx')
varlogIR

,VAR_ID,VAR_LIB,VAR_LIB_LONG
0,IRIS,IRIS,Code du département suivi du numéro de commune...
1,REG,Région,Code de la région
2,DEP,Département,Code du département
3,UU2010,Unité urbaine,"Code du département ou ""00"" pour les unités ur..."
4,COM,Commune ou ARM,Code du département suivi du numéro de commune...
...,...,...,...
97,P16_RP_VOIT2P,Ménages deux voitures ou plus en 2016 (princ),Nombre de ménages disposant de deux voitures o...
98,P16_RP_HABFOR,Habitations de fortune (DOM) en 2016 (princ),Nombre de résidences principales habitations d...
99,P16_RP_CASE,Cases traditionnelles (DOM) en 2016 (princ),Nombre de résidences principales cases traditi...
100,P16_RP_MIBOIS,Maisons ou Immeubles en bois (DOM) en 2016 (pr...,Nombre de résidences principales maisons ou im...
101,P16_RP_MIDUR,Maisons ou Immeubles en dur (DOM) en 2016 (princ),Nombre de résidences principales maisons ou im...

In [3]:
logIR = pd.read_excel('IRIS_housing/base-ic-logement-2016-cIA.xls')

In [4]:
logIR.head(10)

,IRIS,REG,DEP,UU2010,COM,LIBCOM,TRIRIS,GRD_QUART,LIBIRIS,TYP_IRIS,...,P16_RP_CLIM,P16_RP_TTEGOU,P16_RP_GARL,P16_RP_VOIT1P,P16_RP_VOIT1,P16_RP_VOIT2P,P16_RP_HABFOR,P16_RP_CASE,P16_RP_MIBOIS,P16_RP_MIDUR
0,010010000,84,01,01000,01001,L'Abergement-Clémenciat,ZZZZZZ,0100100,L'Abergement-Clémenciat (commune non irisée),Z,...,NaN,NaN,261.000000,292.000000,100.000000,192.000000,NaN,NaN,NaN,NaN
1,010020000,84,01,01000,01002,L'Abergement-de-Varey,ZZZZZZ,0100200,L'Abergement-de-Varey (commune non irisée),Z,...,NaN,NaN,76.000000,98.000000,29.000000,69.000000,NaN,NaN,NaN,NaN
2,010040101,84,01,01302,01004,Ambérieu-en-Bugey,ZZZZZZ,0100401,Les Perouses-Triangle d'Activité,H,...,NaN,NaN,504.169619,632.814773,431.745519,201.069254,NaN,NaN,NaN,NaN
3,010040102,84,01,01302,01004,Ambérieu-en-Bugey,ZZZZZZ,0100401,Longeray-Gare,H,...,NaN,NaN,1154.618741,1388.855290,1001.109470,387.745820,NaN,NaN,NaN,NaN
4,010040201,84,01,01302,01004,Ambérieu-en-Bugey,ZZZZZZ,0100402,Centre-St Germain-Vareilles,H,...,NaN,NaN,1249.303723,1602.642620,1072.194993,530.447627,NaN,NaN,NaN,NaN
5,010040202,84,01,01302,01004,Ambérieu-en-Bugey,ZZZZZZ,0100402,Tiret-Les Allymes,H,...,NaN,NaN,1696.522611,1786.919457,804.515403,982.404054,NaN,NaN,NaN,NaN
6,010050000,84,01,01000,01005,Ambérieux-en-Dombes,ZZZZZZ,0100500,Ambérieux-en-Dombes (commune non irisée),Z,...,NaN,NaN,500.112242,610.786991,238.952540,371.834451,NaN,NaN,NaN,NaN
7,010060000,84,01,01000,01006,Ambléon,ZZZZZZ,0100600,Ambléon (commune non irisée),Z,...,NaN,NaN,41.000000,50.000000,23.000000,27.000000,NaN,NaN,NaN,NaN
8,010070000,84,01,01000,01007,Ambronay,ZZZZZZ,0100700,Ambronay (commune non irisée),Z,...,NaN,NaN,868.167372,1005.014240,393.977249,611.036991,NaN,NaN,NaN,NaN
9,010080000,84,01,01302,01008,Ambutrix,ZZZZZZ,0100800,Ambutrix (commune non irisée),Z,...,NaN,NaN,279.139073,313.907285,116.225166,197.682119,NaN,NaN,NaN,NaN

## Logement
**GEO** : IRIS / REG / DEPT / Unité Urbaine / Commune ou ARM / Libé commune ou ARM / Grand Quartier / Libellé IRIS / Type d'IRIS<br>
**LOGEMENT**: MAISON / APPARTEMENT / HLM

In [7]:
logIR_workbase = logIR[['IRIS', 'REG', 'DEP', 'UU2010', 'COM', 'LIBCOM', 'TRIRIS', 'GRD_QUART',
                    'LIBIRIS', 'TYP_IRIS', 'LAB_IRIS', 'P16_RPMAISON', 'P16_RPAPPART', 'P16_RP_LOCHLMV']]
logIR_workbase.head()

,IRIS,REG,DEP,UU2010,COM,LIBCOM,TRIRIS,GRD_QUART,LIBIRIS,TYP_IRIS,LAB_IRIS,P16_RPMAISON,P16_RPAPPART,P16_RP_LOCHLMV
0,010010000,84,01,01000,01001,L'Abergement-Clémenciat,ZZZZZZ,0100100,L'Abergement-Clémenciat (commune non irisée),Z,5,301.000000,4.000000,8.000000
1,010020000,84,01,01000,01002,L'Abergement-de-Varey,ZZZZZZ,0100200,L'Abergement-de-Varey (commune non irisée),Z,5,101.000000,0.000000,0.000000
2,010040101,84,01,01302,01004,Ambérieu-en-Bugey,ZZZZZZ,0100401,Les Perouses-Triangle d'Activité,H,1,305.670494,485.907850,231.433843
3,010040102,84,01,01302,01004,Ambérieu-en-Bugey,ZZZZZZ,0100401,Longeray-Gare,H,1,427.551718,1296.129513,641.735130
4,010040201,84,01,01302,01004,Ambérieu-en-Bugey,ZZZZZZ,0100402,Centre-St Germain-Vareilles,H,1,723.003618,1180.298216,388.646286

In [8]:
logIR_new = logIR_workbase.drop(columns=['REG', 'DEP', 'UU2010', 'COM', 'TRIRIS', 'GRD_QUART',
                                         'LIBIRIS', 'LAB_IRIS'])
logIR_new.head()

,IRIS,LIBCOM,TYP_IRIS,P16_RPMAISON,P16_RPAPPART,P16_RP_LOCHLMV
0,010010000,L'Abergement-Clémenciat,Z,301.000000,4.000000,8.000000
1,010020000,L'Abergement-de-Varey,Z,101.000000,0.000000,0.000000
2,010040101,Ambérieu-en-Bugey,H,305.670494,485.907850,231.433843
3,010040102,Ambérieu-en-Bugey,H,427.551718,1296.129513,641.735130
4,010040201,Ambérieu-en-Bugey,H,723.003618,1180.298216,388.646286

In [9]:
logIR_new.apply(lambda x: len(x.unique()))

IRIS              49637
LIBCOM            33042
TYP_IRIS              4
P16_RPMAISON      41150
P16_RPAPPART      35893
P16_RP_LOCHLMV    26927
dtype: int64

In [10]:
logIR_new.describe()

       P16_RPMAISON  P16_RPAPPART  P16_RP_LOCHLMV
count  49637.000000  49637.000000    49637.000000
mean     333.793344    250.164829       86.840961
std      366.770955    435.438393      175.904955
min        0.000000      0.000000        0.000000
25%       75.000000      2.075444        0.000000
50%      192.556383     18.276190        5.847716
75%      479.641285    321.000000       82.464670
max     3625.475358   5313.986939     2131.398289

### Checking missing values

In [25]:
logIR_new.isnull().sum()/len(logIR_new)*100

IRIS              0.0
LIBCOM            0.0
TYP_IRIS          0.0
P16_RPMAISON      0.0
P16_RPAPPART      0.0
P16_RP_LOCHLMV    0.0
dtype: float64

### Focus on IRIS Type inhabitant --> H

In [11]:
logIR_new['TYP_IRIS'].unique()

array(['Z', 'H', 'A', 'D'], dtype=object)

Reminder:<br>
- IRIS d'habitat (H) : IRIS dont la population se situe entre 1 800 et 5 000 habitants ; ils sont homogènes quant au type d'habitat ;
- IRIS d'activité (A): IRIS regroupant plus de 1 000 salariés et comptent deux fois plus d'emplois salariés que de population résidente ;
- IRIS divers (D): IRIS de superficie importante à usage particulier (bois, parcs, zones portuaires...).
- IRIS autres (Z).

In [12]:
logIR_H_new = logIR_new[(logIR_new.values  == "H")]
logIR_H_new

,IRIS,LIBCOM,TYP_IRIS,P16_RPMAISON,P16_RPAPPART,P16_RP_LOCHLMV
2,010040101,Ambérieu-en-Bugey,H,305.670494,485.907850,231.433843
3,010040102,Ambérieu-en-Bugey,H,427.551718,1296.129513,641.735130
4,010040201,Ambérieu-en-Bugey,H,723.003618,1180.298216,388.646286
5,010040202,Ambérieu-en-Bugey,H,1514.700745,387.733119,43.006682
32,010330101,Bellegarde-sur-Valserine,H,276.159077,380.565686,187.993616
...,...,...,...,...,...,...
49631,974230201,Les Trois-Bassins,H,270.954072,34.818627,0.000000
49632,974240101,Cilaos,H,662.454412,43.569498,15.843454
49633,974240102,Cilaos,H,606.012108,16.833670,26.735828
49634,974240103,Cilaos,H,268.348499,3.960863,0.000000
49635,974240104,Cilaos,H,370.340733,0.990216,0.000000

In [13]:
logIR_H_new.to_csv('IRIS_housing/IRIS_housing_IR_Hab.csv')